{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "vcluster-argocd-enroller.serviceAccountName" . }}
  namespace: {{ include "vcluster-argocd-enroller.vclusterNamespace" . }}
  labels:
    {{- include "vcluster-argocd-enroller.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}